html *
{
  font-family: "Spartan", Gadget, sans-serif;
  font-weight: 700;	
}

/* Main body properties */
body {	
	color: hsl(180, 14%, 20%);
  background-color: hsl(180, 29%, 50%);
  font-size: 15px;
	margin: auto;
  text-align: center;
  max-width: 1440px;
  min-width: 375px;
}

/* Background of page*/
.base {
  height: 100vh;
  background: hsl(180, 52%, 96%);
  border-radius: 8px;
}


/* Start of top filter bar*/
.filter-tab {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  padding: 1em 2em 1em 2em;
  width: 1000px;
  height: 50px;
  margin: auto;
  text-align: left;
  background: hsl(180, 52%, 96%);
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: relative;
  bottom: 40px;
}

.filter-tab #one, #two, #three, #four, #five, #six {
  color: hsl(180, 29%, 50%);
  position: relative;
  background:hsl(180, 31%, 91%);
  padding: 0.5em;
  border-radius: 5px;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 45px;
}

.filter-tab #one {
  margin-right: 25px;
  margin-left: 0;
}

.filter-tab #two {
  margin-right: 60px;
}

.filter-tab #three {
  margin-right: 15px;
}

.filter-tab #four {
  margin-right: 50px;
}

.clear-button {
  grid-column: end;
  color: hsl(180, 29%, 50%);
  text-align: center;
  margin: auto;
}

.x-button {
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  background: hsl(180, 29%, 50%);
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  width: 26px;
  height: 26px;
  border-radius: 5px;
  padding: 3px;
  font-size: 26px;
  text-align: center;
}


/* Start of the different user panels */
.panels {
  position: relative;
  display: grid;
  grid-row-gap: 2em;
  grid-template-rows: 145px;
  grid-template-columns: 800px;
  margin: auto;
  width: 800px;
}

.panels > div {
  color: hsl(180, 14%, 20%);
  padding: 2em 2em 2em 5em;
  background: hsl(180, 52%, 96%);
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.panels #user {
  display: grid;
  align-items: center;
}

.panels .topInfo{
  justify-self: start;
}

.topInfo {
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 8px;
  grid-column: 2/3;
  font-size: 15px;
  word-spacing: 1em;
  /* background: hsl(180, 14%, 20%); */
  padding: 0.5em 0 0 0;
}

.topInfo > p2, p3 {
  color: hsl(180, 52%, 96%);
  font-size: 12px;
  text-transform: uppercase;
  background: hsl(180, 14%, 20%);
  border-radius: 100px;
  padding: 5px 8px 5px 8px;
  justify-self: start;
}

.topInfo > p1 {
  text-align: left;
  align-self: center;
  padding-right: 10px;
}

.topInfo > p2 {
  background: hsl(180, 29%, 50%);
}

.logo {
  position: absolute;
  justify-self: center;
  left: 2em;
  top: 20%;
}

.name {
  padding: 6px 0 0 0;
  grid-column: 2/3;
  font-size: 20px;
  text-align: left;
}

.botInfo {
  padding: 6px 0 0 0;
  grid-column: 2;
  font-weight: 500;
  color: hsl(180, 8%, 52%);
  text-align: left;
}

.tags {
  grid-column: 3;
  grid-row: 2;
}

.decoration {
  opacity: 0.0;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  background: linear-gradient(
    to right,
  hsl(180, 29%, 50%) 0%,
  hsl(180, 29%, 50%) 40%,
  hsl(180, 52%, 96%) 40%,
  hsl(180, 52%, 96%) 100%
  );
  width: 15px;
  height: auto;
  border-radius: 8px;
}

/* On hover changes*/
.panels div:hover {
  color: hsl(180, 29%, 50%);
}

.panels #user:hover .decoration {
  opacity: 1.0;
}

.clear-button:hover {
  text-decoration: underline;
}

.x-button:hover {
  background: hsl(180, 14%, 20%);
}
