html *
{
  font-family: "Spartan", Gadget, sans-serif;
  font-weight: 700;	
}

/* Main body properties */
body {	
	color: hsl(180, 14%, 20%);
  background-color: hsl(180, 29%, 50%);
  font-size: 15px;
	margin: auto;
  text-align: center;
  max-width: 1440px;
  min-width: 375px;
}

/* Background of page*/
.base {
  height: 100vmax;
  background: hsl(180, 52%, 96%);
  border-radius: 8px;
}

img#main-img {
  object-fit: contain;
  width: 1440px;
  height: auto;
}

/* Start of top filter bar*/
.filter-tab {
  display: grid;
  grid-template-columns: 1fr;
  padding: 1em 2em 1em 2em;
  width: 970px;
  height: 50px;
  margin: auto;
  text-align: left;
  background: hsl(180, 52%, 96%);
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: relative;
  top: -50px;
  padding-inline-start: 0;
}

.filter-tab li {
  color: hsl(180, 29%, 50%);
  position: relative;
  background:hsl(180, 31%, 91%);
  padding: 7.5px 35px 7.5px 8px;
  border-radius: 5px;
  margin: 0 1em 0 0;
}

#dynamic-list li {
  display: inline;
}

.clear-button {
  grid-column: end;
  color: hsl(180, 29%, 50%);
  text-align: center;
  margin: auto;
  cursor: pointer;
}

.x-button {
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  background: hsl(180, 29%, 50%);
  color: hsl(180, 52%, 96%);
  font-size: 15px;
  font-weight: bold;
  width: 26px;
  height: 26px;
  border-radius: 5px;
  padding: 3px;
  font-size: 26px;
  text-align: center;
  cursor: pointer;
}


/* Start of the different user panels */
.panels {
  position: relative;
  list-style-type: none;
  margin: auto;
  width: 1000px;
  height: 100vh;
  top: 80px;
  padding: 0;
}

.panels#main-panel li {
  margin-bottom: 2em;
}

.panels #sub-panel {
  position: relative;
  color: hsl(180, 14%, 20%);
  padding: 2em 2em 2em 5em;
  background: hsl(180, 52%, 96%);
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 0;
}

.panels .user {
  display: grid;
  grid-template-columns: 80px;
  align-items: center;
}

.panels .topInfo{
  justify-self: start;
}

.topInfo {
  color: hsl(180, 29%, 50%);
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 8px;
  grid-column: 2/3;
  font-size: 15px;
  padding: 0.5em 0 0 0;
}

.topInfo > p2, p3 {
  color: hsl(180, 52%, 96%);
  font-size: 12px;
  text-transform: uppercase;
  background: hsl(180, 14%, 20%);
  border-radius: 100px;
  padding: 5px 8px 5px 8px;
  justify-self: start;
}

.topInfo > p1 {
  text-align: left;
  align-self: center;
  padding-right: 10px;
}

.topInfo > p2 {
  background: hsl(180, 29%, 50%);
}

.logo {
  position: absolute;
  justify-self: center;
  left: 2em;
  top: 20%;
}

.name {
  padding: 6px 0 0 0;
  grid-column: 2/3;
  font-size: 20px;
  text-align: left;
  cursor: pointer;
}

.botInfo {
  padding: 6px 0 0 0;
  grid-column: 2;
  font-weight: 500;
  color: hsl(180, 8%, 52%);
  text-align: left;
}

.tags {
  grid-column: 3;
  grid-row: 2;
  justify-self: end;
}

.tag {
  color: hsl(180, 29%, 50%);
  position: relative;
  background:hsl(180, 31%, 91%);
  padding: 7.5px 8px 7.5px 8px;
  border-radius: 5px;
  margin: 0 1em 0 0;
  cursor: pointer;
  display: inline;
}

.decoration {
  opacity: 0.0;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  background: linear-gradient(
    to right,
  hsl(180, 29%, 50%) 0%,
  hsl(180, 29%, 50%) 40%,
  hsl(180, 52%, 96%) 40%,
  hsl(180, 52%, 96%) 100%
  );
  width: 15px;
  height: auto;
  border-radius: 8px;
}

/* On hover changes*/
.name:hover {
  color: hsl(180, 29%, 50%);
}

.panels .user:hover .decoration {
  opacity: 1.0;
}

.clear-button:hover {
  text-decoration: underline;
}

.x-button:hover {
  background: hsl(180, 14%, 20%);
}

.tag:hover {
  color: hsl(180, 52%, 96%);
  background: hsl(180, 29%, 50%);
}

/* Phone layout changes */
@media only screen and (device-width: 375px),
only screen and (max-width:1080px) {
body {
  max-width: 1440px;
  min-width: 375px;
}

.base {
  height: 3000px;
  background: hsl(180, 52%, 96%);
  border-radius: 8px;
}

img {
  object-fit: contain;
  width: 70%;
  height: auto;
}

/* Start of top filter bar*/
.filter-tab {
  width: 375px;
  height: auto;
}

.filter-tab li {
  margin: 0 10px 0 0;
  margin-bottom: 10px;
}

#dynamic-list li {
  display: inline-block;
}

/* Start of the different user panels */
.panels {
  width: 375px; /* width: min-content; */
  max-width: 375px;
  height: 200vh;
}

.panels#main-panel li {
  margin-bottom: 0px;
  margin-top: 10px;
  text-align: left;
}

.panels#main-panel #sub-panel {
  margin-bottom: 4em;
}


.panels #sub-panel {
  padding: 2em 0 2em 2em;
}

.panels .user {
  grid-template-columns: auto;
}

.topInfo {
  grid-column: 1/2;
}

.logo {
  top: -15%;
}

.name {
  grid-column: 1/2;
}

.botInfo {
  grid-column: 1;
}

.tags {
  grid-column: 1;
  grid-row: 5;
  text-align: left;
  padding-left: 0;
}

.tag {
  display: inline-block;
}
  }

.line {
  width: 90%;
  grid-row: 4;
  margin: 1em;
  margin-left: 0;
  margin-bottom: 0;
}